<div>
    <div>
        <!-- Section Heading-->
        <h1 class="navigator">Navigator</h1>
    </div>
</div>
<app-item-form [users]="users"></app-item-form>
<div class="row">
    <div class="column pending">
        <h2>Pending</h2>
        <app-item *ngFor="let item of getItemsByStatus('New')" [users]="users"  [item]="item"></app-item>
    </div>
    <div class="column inprogress">
        <h2>In progress</h2>
        <app-item *ngFor="let item of getItemsByStatus('Commited')" [users]="users"  [item]="item"></app-item>
    </div>
    <div class="column onhold">
        <h2>On hold</h2>
        <app-item *ngFor="let item of getItemsByStatus('On Hold')" [users]="users"  [item]="item"></app-item>
    </div>
    <div class="column done">
        <h2>Done</h2>
        <app-item *ngFor="let item of getItemsByStatus('Done')" [users]="users"  [item]="item"></app-item>
    </div>
</div>

