.navigator{
    background-color: gray;
    color: white;
    text-align: center;
}

/* Set additional styling options for the columns */
.column {
float: left;
width: 24%;
margin-right: 1%;
background-color: 	#303030;
}
.row:after {
content: "";
display: table;
clear: both;
}

h2 {
    border-style: outset;
    background-color: wheat;
    text-align: center;
}

.navbar {
    margin-bottom: 10px;
}

form {
    display: flex;
}