<div class="item" *ngIf="item">
    <div *ngIf="item" [ngClass]="itemStyle">
        <div class="item-container">
            <div class="timeline-text">
                <div class="item-tittle">
                    <div class="item-id">{{ item.id }}</div>
                    <div class="item-name">{{ item.name }}</div>
                </div>
                <div class="item-info">
                    <p>
                        <span>Item type:</span> {{ item.type }}
                    </p>
                </div>
                <div class="item-info">
                    <span>Status:</span> {{ item.status }}
                </div>
                <br>
                <div class="item-user">
                    <i class="fa fa-user"></i><app-select class="userSelect" [items]="usersNames" [selected]="getItemUsername()"></app-select>
                </div>
            </div>
        </div>
    </div>
</div>
    